body {
  background-color: #b5b5b5;
}

.card-body {
  margin-top: 2vh;
}

.card-header {
  background-color: #00686c;
  color: white;
}

#btn-padrao {
  background-color: #0b9ca1;
  border-color: #0b9ca1;
  font-family: "DM sans", sans-serif;
  color: aliceblue;
}
